.uppercase{
    text-transform: uppercase;
}

.cus-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    z-index: 998;
}
